<div class="jh-container">
  <div class="jh-sidebar">
    <h2 class='padd'> <%= @project.project_name %> </h2>
    
    <div class="jh-sidebar-content">
    <h4>함께 하는 사람들</h4>
    <ul>
      <% @members.each do |member| %>
        <li><%= member.user_email %>(id:<%= member.id %>)</li>
      <% end %>
    </ul>
    </div>    
    
    <div class="jh-sidebar-content">
    <h4>새로운 팀원 추가하기</h4>
      <form class="form-inline" action="/project/show/<%= @project.id %>/add_user" method='post'>
        <div class="input-group">
        <!--<span class="input-group-addon" id="basic-addon1">@</span>-->
          <input type="text" class="form-control" placeholder="User email로 검색합니다" name="user_email" aria-describedby="basic-addon1">
          <input type='submit'>
        </div>
      </form>
      
<!-- 여기서부터 시간표 테이블 추가됨  -->
                    
                    <!-- Large modal -->
                    <button style="margin-top: 10px;" type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg"> 우리 언제 만날까? </button>
                    
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                              <INPUT TYPE="hidden" NAME="room" id="room">
                      <table width="100%" border="1" cellpadding="3" cellspacing="0" bordercolor="#A9A9A9" bordercolordark="#FFFFFF" id="subBbs">
                  
                      </table>
                  
                      <table width="100%" border="1" cellpadding="3" cellspacing="0" bordercolor="#A9A9A9" bordercolordark="#FFFFFF" id="subBbs">
                          <tr height="25">
                  
                              <th>&nbsp;</td>
                              <td valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> MON </b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> TUE </b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> WED </b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> THU </b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> FRI </b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> SAT </nobr></b></th>
                              <th valign=middle style='font-size:12pt;background:#DEE0DE;text-align:center;' width='55'><b><nobr> SUN </b></th>
                            
                          </tr>
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                  
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>09:00~09:30</b></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_1-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_1_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                             
                          </tr>
                         
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>09:30~10:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_2-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_2_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>10:00~10:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_3-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_3_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>10:30~11:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_4-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_4_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>11:30~12:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_5-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_5_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>12:00~12:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_6-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_6_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>12:30~13:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_7-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_7_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>13:00~13:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_8-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_8_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>13:30~14:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_9-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_9_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>14:30~15:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_10-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_10_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>15:00~15:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_11-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_11_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>15:30~16:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_12-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_12_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>16:00~16:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_13-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_13_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>16:30~17:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_14-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_14_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>17:00~17:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_15-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_15_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>17:30~18:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_16-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_16_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>18:00~18:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_17-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_17_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>18:30~19:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_18-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_18_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>19:00~19:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_19-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_19_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                    
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>19:30~20:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_20-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_20_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>20:00~20:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_21-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_21_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>20:30~21:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_22-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_22_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>21:00~21:30</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_23-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_23_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>21:30~22:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_24-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_24_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                  
                          <tr height='20' bgColor='#F7F7F7' onmouseover="this.style.backgroundColor='#FFCCFF'" onmouseout="this.style.backgroundColor='#F7F7F7'">
                              <td style='font-size:10pt;text-align:center;' width='100'><b><nobr>22:30~23:00</b></td>
                  
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-1' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_1!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-2' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_2!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-3' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_3!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-4' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_4!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-5' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_5!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-6' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_6!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                              <td bgcolor='' title='가능' style='text-align:center;' id='td_25-7' width='55'><INPUT TYPE="checkbox" NAME="category_ids[]" style='width:25px;height:25px;' <% tmp=1 %><% @members.each do |member| %><% begin %><% tb=Timetablem.find(member.id) %><% if tb.td_25_7!=true %><% tmp=0 %><% end %><% rescue %><% tmp=0 %><% end %><% end %><% if tmp==1 %> checked <% end %> ></td>
                          </tr>
                      </table>
                      
                      <!--<div class="modal-footer">-->
                      <!--    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                      <!--    <button type="button" class="btn btn-primary">Submit</button>-->
                      <!--</div>-->
                        
                      
                        </div>
                      </div>
                    </div>

<!-- 길고 길었던 시간표 테이블이 끝남-->
      
    </div>
    
    <div class="jh-sidebar-content">
      <h4>포스팅하기</h4> 
      <form class="form-inline" action='/project/show/<%= @project.id %>/create' method='post' enctype="multipart/form-data">
       
      <h5>파일 업로드하기</h5>      
        <input type="file" name="file" style="width: 280px;"><br>
      <!--포스트 설명 -->
      <div class="input-group">    
        <input type='text' name='post_name' row=2 placeholder="포스트 설명을 입력하세요" class="form-control">
        <input type='submit'>
      </div>  
      </form>
     
      <form class="form-inline" action='/project/show/<%= @project.id %>/create' method='post'>   
      <h5>링크 첨부하기</h5>
        <input type='text' name='link' placeholder="링크의 주소를 넣어주세요" class="form-control">
        
      <!--포스트 설명 -->
      <div class="input-group">    
        <input type='text' name='post_name' placeholder="포스트 설명을 입력하세요" class="form-control">
        <input type='submit'>
      </div>
      </form>
    </div>
    
    <a href="/project/final/<%= @project.id %>"><button style="margin: 15px 15px 15px 15px;"type="button" class="btn btn-secondary btn-lg btn-block">최종 보고서 확인하기 </button></a>
    
  <a href="/project/show/<%= @project.id %>/edit"><button type="button" class="btn btn-outline-primary">프로젝트 수정</button></a>
  <a href="/project/show/<%= @project.id %>"><button type="button" data-method="delete" data-token="{{csrf_token()}}" data-confirm="정말 이 프로젝트를 삭제하시겠습니까?" class="btn btn-outline-primary">프로젝트 삭제</button></a>

  </div>

  <div class="jh-content">
    <ul class='timeline'>
    <li class="year first"></li>
    
      <li class='event offset-first'>
        <%= @project.created_at.strftime("%Y %b %d") %> : 프로젝트 시작
      </li>

      <% @posts.each do |post| %>
      <li class='event' >
        <% if post.file_url != nil %>
          <a href="<%= post.file_url%>" target="_blank">
            <%= post.post_name %></a> <br> 
            <%= post.created_at %> <br>
            by. user_id:<%= post.user_id %>
            <a href="/project/show/<%= @project.id %>/destroy?id=<%=post.id %>">[삭제]</a>
  
        <% else %>
          <a href="<%= post.link %>" target="_blank">
            <%= post.post_name %> </a><br>
            <%= post.created_at %> <br>
            by. user_id:<%= post.user_id %>
            <a href="/project/show/<%= @project.id %>/destroy?id=<%=post.id %>">[삭제]</a>
        <% end %>  
      </li>  
      <% end %>
      
    </ul>
  </div>
</div>